html {
	font-family: "Helvetica", Arial, sans-serif;
}

table, th, tr, td {
	border: none;
	border-collapse: collapse;
	padding: 5px;
	min-width: 10%;
	font-size: 1em;
	margin-left: 10%;
	margin-right: 10%;
}

#inputarea {
	font-size: 1em;
	align-self: center;
	min-width: 95%;
	max-width: 95%;
	margin-left: 2%;
	margin-right: 3%;
}
#analysis {
	min-height: 20px;
	min-width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
#analysis_table, #analysis_table td {
	min-width: 100%;
	max-width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

.analno, .analword, .anallen, .analfreq {
	text-align: center;
}
.analrow0 td {
	background-color: orange;
}
#analyze {
	font-size: 1em;
}
#mainbody {
	margin-left: 5%;
	margin-right: 5%;
	padding: 1px;
	font-size: 1em;
}
#tabholder {
	background-color: aqua;
}
#mainchild {
}
.results {
	font-size: 1em;
	background-color: khaki;
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	top: 20px;
}
#stats {
	margin: 0 auto;
	
}
.statbox {
	border: 1px solid black;
	border-radius: 0.25em;
	font-size: 1.2em;
	background-color: orange;
	width: 50px;
	padding: 2px;
	float: right;
	text-align: center;
}
body { 
	font-family: "Helvetica", Verdana, sans-serif;
	font-size: 1.1em;
	background-color: #3d3d3d;
	margin-left: 15%;
	margin-right: 15%;
	top-margin: 10%;
}
h1 {
	font-family: "Helvetica", Verdana, sans-serif; 
	font-size: 2em;
	font-weight: bold;
	color: white;
	text-align: left;
}
.tabs {
	margin: 0;
	padding: 0;
}
.tabs li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
.tabs a {
	text-decoration: none;
	padding: 3px 5px;
	margin-right: 10px;
	margin-bottom: -1px;
	border: 1px solid black;
	border-style: none;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	color: khaki;
	background-color: grey;
}
.tabs .fore {
	background-color: khaki;
	border-bottom: 1px solid blue;
	color: black;
}

.jumbotron {
	background-image: url("silcHeader.png");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 179px;
	cursor: pointer;
}

.jumbotron1 {
	background-image: url("silcFooter.png");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 75px;
	position: fixed;
	bottom: 0;
	width: 70%;
}